<form method="post" action="{{ path('audiofile_delete', {'id': audiofile.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément ?');" style="display:inline;padding:0;box-shadow:unset">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ audiofile.id) }}">
    <button class="btn btn-mr-danger">Supprimer</button> 
</form>
