<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mars Radio DNB{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/site.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 id="logo">Mars Radio DNB</h1>
                        {# <div class="fb-like fb-like-mr-dnb fb_iframe_widget" data-href="http://www.mars-radio-dnb.com/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=294856497549799&amp;container_width=1695&amp;href=http%3A%2F%2Fwww.mars-radio-dnb.com%2F&amp;layout=button_count&amp;locale=fr_FR&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=small"><span style="vertical-align: bottom; width: 160px; height: 20px;"><iframe name="f2db3e6007fe1c" width="1000px" height="1000px" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.7/plugins/like.php?action=like&amp;app_id=294856497549799&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D46%23cb%3Df2d87b058b576d8%26domain%3Dwww.mars-radio-dnb.com%26origin%3Dhttp%253A%252F%252Fwww.mars-radio-dnb.com%252Ff1f5f685196f3c%26relation%3Dparent.parent&amp;container_width=1695&amp;href=http%3A%2F%2Fwww.mars-radio-dnb.com%2F&amp;layout=button_count&amp;locale=fr_FR&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=small" style="border: none; visibility: visible; width: 160px; height: 20px;" class=""></iframe></span></div> #}
                        <div class="fb-like fb-like-mr-dnb" data-href="http://www.mars-radio-dnb.com/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                        <div id="messageRadio">
                            <span id="messageContenueRadio" style="margin-left: -320.72px;">
                                Drum and bass, Neurofunk, Techstep, Jungle, Ragga/Jungle, Old School,
                                Jump Up,Liquid, Hardstep, Darkstep, Dubstep, Drumstep 
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="shadow-nav"></div>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ path('home') }}">ACCUEIL</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('music') }}">MUSIQUES</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">RADIO</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">AGENDA</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">NOUS CONTACTER</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">FAIRE UN DON</a>
                </li>
              </ul>
              <span class="navbar-text">
              </span>
            </div>
        </nav>
        
        <main>{% block body %}{% endblock %}</main>
        
        <footer class="container-fluid">
            <div class="row">
                <span class="copyright">115 GB for 916 tracks</span>
                <br>
                <span class="copyright">© {{ "now"|date("Y") }} mars-radio-dnb.com All Rights Reserved</span>
            </div>
        </footer>

        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v6.0&appId=294856497549799&autoLogAppEvents=1"></script>
        
        <script src="/static/jquery/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="/static/js/infos-LCD.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
